{% extends "base.html" %}
{% block header_content %}
    <h1> HEJ FROM DESC-STATS </h1>
{% endblock header_content %}
{% block main_content %}
    <h1> Descriptive Statistics </h1>
    <p> Descriptive statistics describe and summarize the characteristics of a dataset or sample data.
        By using descriptive statistics, we can summarize large amounts of observed data in a meaningful way. 
        While descriptive statistics are powerful, they have limitations—for example, summarizing data means losing some granularity.
    </p>
    <h3> Measure of central tendency </h3>
    <p>
        A measure of central tendency represents the center point or typical value of a dataset. 
        It's like finding the heart of the data or the value around which most other values cluster.
        There are <b> three common measures </b> of central tendency:
    </p>
    <h4> 1. The Mean </h4>
    <p> 
        The mean is the most common way to summarize the center of a distribution.
    </p>
    <p>Mean (𝑥̅) = Σxᵢ / n</p>

    <p>
        <b> What is the mean or average age of the players in the Arsenal's first squad? </b>
    </p>
    <table border="1px">
        <tr>
          <th>Players:</th>
          <td>David Raya</td>
          <td>Ben White</td>
          <td>William Saliba</td>
          <td>Gabriel Magalhães</td>
          <td>Jurrien Timber</td>
          <td>Declan Rice</td>
          <td>Thomas Partey</td>
          <td>Martin Ødegaard</td>
          <td>Kai Havertz</td>
          <td>Gabriel Martinelli</td>
          <td>Bukayo Saka</td>
        </tr>
        <tr>
          <th>Age:</th>
          <td>28</td>
          <td>26</td>
          <td>23</td>
          <td>26</td>
          <td>23</td>
          <td>25</td>
          <td>31</td>
          <td>25</td>
          <td>25</td>
          <td>23</td>
          <td>22</td>
        </tr>
    </table>

    <p> The mean or average age of the Arsenal's first squad is computed by summing up all the ages or values and then dividing
        it by the total number of players.
    </p>

    <p> Mean = (28 + 26 + 23 + 26 + 23 + 25 + 31 + 25 + 25 + 23 + 22) / 11 </p>
    <p> Sum of numbers: 28 + 26 + 23 + 26 + 23 + 25 + 31 + 25 + 25 + 23 + 22 = 277 </p>
    <p> Number of items: 11 </p>
    <p> Mean = 277 / 11 = 25.18 </p>
    <p>  the mean or average age of the players in the Arsenal's first squad is approximately <b> 25.18 </b> </p>

    <h4> 2. The Median </h4> 
    <p> The value that is literally in the middle, with half the values below it and the other half above it. 
        The median has the same units as the data. 
    </p>
    <p>
        <b> What is the median age of the players in Arsenal's first squad? </b>
    </p>
    <h5> Steps to Calculate the Median </h5>
    <ul>
        <li> Order the Ages: Sort the ages in ascending order. </li>
        <li> Find the Median </li>
        <ul> 
            <li> When the number of observations (n) is even, there are two middle values; (n/2) + ((n/2) + 1)</li>
        </ul>
        <ul> 
            <li> When the number of observations (n) is odd, the median is the middle number in the ordered list and 
                we find this value in the (n + 1) / 2 position.
            </li>
        </ul>
    </ul>

    <table border="1px">
        <tr>
            <th>Players:</th>
            <td>Bukayo Saka</td>
            <td>William Saliba</td>
            <td>Jurrien Timber</td>
            <td>Gabriel Martinelli</td>
            <td>Kai Havertz</td>
            <td>Martin Ødegaard</td>
            <td>Declan Rice</td>
            <td>Ben White</td>
            <td>Gabriel Magalhães</td>
            <td>David Raya</td>
            <td>Thomas Partey</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>22</td>
            <td>23</td>
            <td>23</td>
            <td>23</td>
            <td>25</td>
            <td>25</td>
            <td>25</td>
            <td>26</td>
            <td>26</td>
            <td>28</td>
            <td>31</td>
          </tr>
    </table>
    <p> The number of observation (n) is 11 which is an odd number, therefore the median is in the (11 + 1)/2 = 6th position.
        The median age therefore is <b> 25 </b>.
    </p>
    <p>
        <b> What is the median age of the players and the coach in Arsenal's first squad? </b>
    </p>
    <table border="1px">
        <tr>
            <th>Players:</th>
            <td>Bukayo Saka</td>
            <td>William Saliba</td>
            <td>Jurrien Timber</td>
            <td>Gabriel Martinelli</td>
            <td>Kai Havertz</td>
            <td>Martin Ødegaard</td>
            <td>Declan Rice</td>
            <td>Ben White</td>
            <td>Gabriel Magalhães</td>
            <td>David Raya</td>
            <td>Thomas Partey</td>
            <th> Mikel Arteta (coach)</th>
        </tr>
        <tr>
            <th>Age:</th>
            <td>22</td>
            <td>23</td>
            <td>23</td>
            <td>23</td>
            <td>25</td>
            <td>25</td>
            <td>25</td>
            <td>26</td>
            <td>26</td>
            <td>28</td>
            <td>31</td>
            <th>42</th>
          </tr>
    </table>
    <p> The number of observation (n) is 12 which is an even number, therefore the median is in the (12 / 2) + (12 / 2) + 1 th position.
        The median age therefore is <b> (25 + 25)  / 2 = 25 </b>
    </p>
    
    <h4> 3. The Mode </h4>
    <p> The mode is the most frequent value in the observed data. It highlights the peak or common occurrence in the data. </p>
    <p>
        <b> What is the most common age/s among both the players and the coach in Arsenal’s first squad? </b>
    </p>
    
    <table border="1px">
        <tr>
            <th>Players:</th>
            <td>Bukayo Saka</td>
            <td>William Saliba</td>
            <td>Jurrien Timber</td>
            <td>Gabriel Martinelli</td>
            <td>Kai Havertz</td>
            <td>Martin Ødegaard</td>
            <td>Declan Rice</td>
            <td>Ben White</td>
            <td>Gabriel Magalhães</td>
            <td>David Raya</td>
            <td>Thomas Partey</td>
            <td> Mikel Arteta (coach)</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>22</td>
            <td><b>23</b></td>
            <td><b>23</b></td>
            <td><b>23</b></td>
            <td><b>25</b></td>
            <td><b>25</b></td>
            <td><b>25</b></td>
            <td>26</td>
            <td>26</td>
            <td>28</td>
            <td>31</td>
            <td>42</td>
          </tr>
    </table>
    <p>  The most common ages among both the players and the coach in Arsenal's first squad are <b> 23 </b> 
        and <b> 25 </b>. 
    </p>
    
    <h3> Measure the spread of data </h3>
    <p> Measures of spread quantify how data values deviate from the central tendency, like the mean. 
        In other words, Spread of the observations or data measures the variation of the data around the central tendency such as the mean.
    </p>
    <p> The The three common measures of the spread of the data are, the range, the variance and the standard deviation </p>
    
    <h4> 1. The Range </h4>
    <p>The range of the data is defined as the difference between the maximum and minimum values: </p>
    <p> <b> Range = maxValue - minValue </b> </p>
    <p> The range value between the age of Arsenal's first team, including the coach is: <b> 41 - 22 = 19</b></p>
    <h5> Considerations: </h5>
    <ul> 
        <li> The Rnage is a single value and not an interval.</li>
        <li> The Range can be come very large if the min or max value is an extreme value, therefore it is not 
            a good idea to report the range as the only measure of the spread of data.
        </li>
    </ul>
    <h4> The Interquartile Range </h4>
    <p> The IQR (pronounced “eye-cue-are”) represents the spread of the middle 50% of values in a dataset. The IQR focuses on the central portion of the data, ignoring extreme values. </p>
    <p> Quartiles divide a dataset into four equal parts, providing valuable insights into data distribution. </p>
    <ol>
        <li>First Quartile (Q1), also known as the lower quartile, Q1 represents the 25th percentile. It’s the value below which 25% of the data falls. </li>
        <li>Second Quartile (Q2), it divides the dataset into two equal halves. It’s the middle value—half the data falls below it, and half above it. </li>
        <li>Third Quartile (Q3), also called the upper quartile, Q3 is the 75th percentile. It’s the value below which 75% of the data lies. </li>
    </ol>
    <p> The difference between the quartiles is called the interquartile range (IQR). It captures the spread of the central 50% of data, ignoring extreme values.</p>
    <p>  IQR = Q3 - Q1 </p>

    <p> Calculating the IQR for the Arsenal's first team: </p>
    <ol>
        <li> Sort the ages in ascending order. </li>
        <li> Calculate the median of the lower half.</li>
        <li> Calculate the median of the upper half.</li>
    </ol>
    <table border="1px">
        <tr>
            <th>Players:</th>
            <td>Bukayo Saka</td>
            <td>William Saliba</td>
            <td>Jurrien Timber</td>
            <td>Gabriel Martinelli</td>
            <td>Kai Havertz</td>
            <td>Martin Ødegaard</td>
            <td>Declan Rice</td>
            <td>Ben White</td>
            <td>Gabriel Magalhães</td>
            <td>David Raya</td>
            <td>Thomas Partey</td>
            <td> Mikel Arteta (coach)</td>
        </tr>
        <tr>
            <th>Age:</th>
            <td>22</td>
            <td><b>23</b></td>
            <td><b>23</b></td>
            <td><b>23</b></td>
            <td><b>25</b></td>
            <td><b>25</b></td>
            <td><b>25</b></td>
            <td>26</td>
            <td>26</td>
            <td>28</td>
            <td>31</td>
            <td>42</td>
          </tr>
    </table>
    <p> NOTE:  Spread, like shape and center, is a general description of the distribution, not a precise quantity</p>
{% endblock main_content %}
{% block footer_content %}{% endblock footer_content %}