{% extends "base.html" %}
{% block header_content %}
    <ul>
        {% for subtopic in concept_subtopics %}
            <li> 
                <a href='{% url "data_science:ds_subtopics_content" subtopic.topic.concept.concept_slug subtopic.topic.topic_slug subtopic.subtopic_slug %}'> 
                    {{ subtopic.subtopic_title }} 
                </a> 
            </li>
        {% endfor %}
        {% comment %} <li> <a href='{% url "data_science:add_ds_content" %}'> ADD DS CONTENT </a> </li> {% endcomment %}
    </ul> 
{% endblock header_content %}
{% block main_content %}
    <h1> {{ subtopic.subtopic_title }} </h1>
    <p> {{ subtopic_content|safe }} </p>
    {% if subtopic %}
        <p><a href='{% url "data_science:update_ds_concept" subtopic.topic.concept.concept_slug subtopic.topic.topic_slug subtopic.subtopic_slug %}'> UPDATE DS CONCEPT </a> </p> 
    {% endif %}
{% endblock main_content %}
{% block footer_content %}{% endblock footer_content %}