<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="DataPitch Web Application">
    <meta name="keywords" content="HTML, CSS, JavaScript and Django">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul 
        {
            list-style: none;
            display: flex;
            background-color: #FFF8DB; 
            justify-content: space-around;
            padding: 15px;
        }
        ul li 
        {
            background-color: blue;
        }
        ul li a
        {
            text-decoration: none;
            background-color: red;
            padding: 12px;
            color: white;
        }
    </style>
</head>
<body>
    <header>
       {% block header_content %}
       {% endblock header_content %}
    </header>
    <main id="main_container">
        {% block main_content %}
        {% endblock main_content %}
    </main>
    <footer>
        {% block footer_content %}
        {% endblock footer_content %}
    </footer>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            }
        };
    </script>
</body>
</html>