{% extends "base.html" %}
{% block header_content %}
    <ul>
        <li> <a href='{% url "data_science:stats_concept" "descriptive-statistics" %}'> Descriptive Statistics </a> </li>
        <li> <a href='{% url "data_science:stats_concept" "inferential-statistics" %}'> Inferential Statistics </a></li>
        <li> Probability Distributions </li>
        <li> Regression Analysis </li>
        <li> Sampling Techniques </li>
    </ul>
{% endblock header_content %}
{% block main_content %}{% endblock main_content %}
{% block footer_content %}{% endblock footer_content %}